<section class="container">
  <form class="form" (ngSubmit)="newTransferRequest()">
    <h2 class="form__title">Novo Lançamento</h2>
    <hr />
    <div class="form__input-control">
      <label for="value">Valor</label>
      <input
        type="number"
        id="valor"
        [(ngModel)]="value"
        name="value"
        min="0"
      />
    </div>
    <div class="form__input-control">
      <label for="description">Descrição</label>
      <input
        type="text"
        id="description"
        [(ngModel)]="description"
        name="description"
      />
    </div>
    <div class="form__input-control">
      <label for="type">Tipo</label>
      <input type="text" id="type" [(ngModel)]="type" name="type" />
    </div>

    <button type="submit" class="form__button">Salvar</button>
  </form>
</section>
