.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container__title {
  font-size: 2rem;
}

.table {
  text-align: center;
  box-shadow: 0 0 8px, rgba(0, 0, 0, 0.615);
}
.table__head {
  background-color: #faebd79d;
}
.table__head__column {
  padding: 1rem;
}

.table__content {
  background-color: #faebd79d;
}

.table__content__row {
  font-weight: 600;
  color: #808080;
}

.table__content__row__data {
  padding: 1rem;
}

.box-emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid gray;
  border-radius: 1rem;
  width: 50vw;
  margin: auto;
}
